@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Rubik";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ml-auto {
    margin-left: auto !important;
}

#home-pic {
    width: 100%;
    height: 100vh;
    background: url(../img/left-r.svg), url(../img/right-r.svg), url(../img/home.svg);
    background-position: 0 20rem, right 20rem,top;
    background-size: cover, cover, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    overflow: hidden;
  }

.image {
  display: block;
  width: 100%;
  height: auto;
}

img.banner {
    width: 100% !important;
    float: left;
    clear: both;
    z-index: -999;
}

.u-content-space{
    padding-top: 2.35rem;
}

.u-ver-center {
    position:  absolute;
    top: 45%;
    left: 0;
    right: 0;
    transform: translate3d(0, -50%, 0)
}

.u-ver {
    position:  absolute;
    top: 75%;
    left: 0;
    right: 0;
    transform: translate3d(0, -50%, 0)
}

.mgl-48 {
    margin: 0 40.78px;
}

.feature {
    padding: 0 40.78px;
}

.display-none {
    display: none!important;
}

.rows {
    flex-direction: row;
}


.d-column {
    height: 375px;
    flex-direction: column;
    justify-content: space-between;
}

.article {
    margin-top: -4rem;
}


.feature h1 {
    color: #029FE4;
    font-size: 36px;
    font-weight: 500;
}

.feature-3 h1 {
    color: #029FE4;
    font-size: 36px;
    font-weight: 500;
}

.feature p {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#feature-2 {
    background-color: #F8F8F8;
}

#feature-3 {
    background-color: #509FDD;
}

.feature-3 {
    height: 616px;
    padding: 42px 26px;
}

.feature-3 p {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

img.core-img {
    float: right;
    max-width: 100%
}

section{
    padding: 70px 0!important;
}

.option-feature {
    justify-content: space-between;
}

.content {
    padding: 28.5px;
}


h1.home-title {
    font-size: 36px;
    font-weight: 500;
}

.left-bg {
    padding: auto;
}


.right-bg {
    padding: auto;
}

img.right-r {
    position: fixed;
    width: 100% !important;
    float: left;
    clear: both;
}

img.reverse {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

@-webkit-keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }

.btn-circle {
    border-radius: 50%;
    transition: 0.4s;
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

.bg-footer {
    background: url(../img/bot-right-r.svg), url(../img/bot-left-r.svg), #07477A;
    background-position: right 0rem, left 0rem, 0;
    background-size: cover, cover, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.box-footer {
    max-height: 245px;
    max-width: 366px;
}

.address {
    margin: 30px 0;
}

.address p {
    max-width: 200px;
    font-size: 18px;
    font-weight: 400;
    color: #25A0D8;
    line-height: 21px;
    margin: 0;
}

.dropdown-footer a {
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: #00537C;
    background-color: white
}

.list-unstyled a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
}

.mt-4r {
    margin-top: 4rem;
}

/* Swiper */

.swiper {
    width: 100%;
    height: 75%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  .slider-item {
      text-align: center;
  }

  .slider-item h5 {
      font-size: 14px;
  }

/* Responsive */

@media (max-width: 991px) { 
}


@media (max-width: 768px) {
    .links {
        margin-top: 30px!important;
    }
    .bg-footer {
        background-position: right 20rem, left 20rem, 0;
    }
}

@media (max-width: 375px) {

    
}

